/*================ GLOBAL ===================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

.grid-wrapper {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
  }






/*================ COLOR VARIABLES ===================*/

:root {
    --blue-lt: #84DAF8;
    --blue-md: #4285F4;
    --blue-drk: #053B9E;
    --blue-blk: #001247;
    --gray-drk: #525252;
    --gray-md: #E8E8E8;
    --gray-lt: #F7F7F7;
    --white: #FFFFFF;

    --gradient-lt: linear-gradient(to bottom right, #84DAF8, #6FC2FF);
    --gradient-md: linear-gradient(to bottom right, #578BFF, #295AC7);
    --gradient-drk: linear-gradient(to bottom right, #233976, #001247);

    --shadow: 0px 3px 23px rgba(0, 0, 0, 0.2);
}

.light {
    color: var(--gray-lt);
}

.white {
    color: var(--white);
}







/*================ TYPOGRAPHY ===================*/

p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray-drk);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.375em;
    font-weight: 700;
    line-height: 1.3;
    color: var(--white);
    padding: 20px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.625em;
    font-weight: 700;
    line-height: 1.5;
    color: var(--blue-drk);
    position: relative;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.750em;
    font-weight: 600;
    line-height: 1.5;
    color: var(--blue-drk);
    position: relative;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.250em;
    font-weight: 600;
    line-height: 1.5;
    color: var(--blue-drk);
}


.border-left-drk:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 42px;
    top: 11px;
    left: -20px;
    background-color: var(--blue-blk);
  }

.border-left-md:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 42px;
    top: 11px;
    left: -20px;
    background-color: var(--blue-md);
  }

  .border-left-lt:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 42px;
    top: 11px;
    left: -20px;
    background-color: var(--blue-lt);
  }

  .h3-border-left-lt:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 27px;
    top: 7px;
    left: -15px;
    background-color: var(--blue-lt);
  }

  @media (max-width: 992px){

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .h3-border-left-lt:before {
        display: none;
    }
  }

  @media (max-width: 768px){
    .border-left-lt:before, .border-left-md:before, .border-left-drk:before {
        display: none;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
  }








/*================ BUTTONS ===================*/

a.btn {
    display: inline-block;
    position: relative;
    padding: 16px 44px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

a.btn:after {
    content: '>';
    position: absolute;
    opacity: 0;  
    top: 17px;
    right: -20px;
    transition: 0.5s;
  }
  
a.btn:hover {
    padding-left: 34px;
    padding-right: 54px;
  }
  
a.btn:hover:after {
    opacity: 1;
    right: 30px;
  }

.btn-lt {
    color: var(--blue-blk);
    background: var(--gradient-lt);
}

.btn-md {
    color: var(--white);
    background: var(--gradient-md);
}

.btn-drk {
    color: var(--white);
    background: var(--gradient-drk);
}









/*================ HEADER ===================*/

/*Desktop*/

header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--gradient-drk);
}

header .logo img {
    width: 200px;
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 45px;
}

.main-nav-list li {
    padding-top: 12px;
}

.main-nav-list li.dropdown-container {
    position: relative;
}

.dropdown-container:hover .dropdown {
    opacity: 1;
    height: auto;
    transition: all 0.3s ease 0.1s;
}

.dropdown {
    height: 0;
    overflow: hidden;
    opacity: 0;
    list-style: none;
    position: absolute;
    top: 38px;
    width: 120%;
    left: -10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 2px solid #84DAF8;
    background: var(--gradient-drk);
    transition: all 0.3s ease;
}
.dropdown li {
    padding-top: 0;
    text-align: center;
}

.sub-nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--white);
}

.sub-nav-link:hover {
    color: var(--blue-lt);
}


.main-nav-link:link, .main-nav-link:visited {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--white);
}


.main-nav-link:before {
    content: '';
    position: absolute;
    width: 120%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: -10%;
    background-color: var(--blue-lt);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.main-nav-list li:hover .main-nav-link:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.main-nav-link:active .main-nav-link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--blue-lt);
}



a.cta {
    display: inline-block;
    position: relative;
    padding: 14px 28px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

a.cta:after {
    content: '>';
    position: absolute;
    opacity: 0;  
    top: 15px;
    right: -20px;
    transition: 0.5s;
}
  
a.cta:hover {
    padding-left: 18px;
    padding-right: 38px;
}
  
a.cta:hover:after {
    opacity: 1;
    right: 20px;
}

.mobile-nav {
    display: none;
}


.mobile-nav-open-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.mobile-nav-open-icon {
    height: 40px;
    width: 40px;
    color: var(--blue-lt);
}

.mobile-nav-close-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.mobile-nav-close-icon {
    height: 40px;
    width: 40px;
    color: var(--blue-lt);
}







/*Media Queries*/



  @media (max-width: 1100px){
    .main-nav-list {
        gap: 30px;
    }

    .main-nav-link:link, .main-nav-link:visited {
        font-size: .9em;
    }

    .dropdown {
        top: 36px;
    }

    
    a.cta {
        font-size: .9em;
    }
  }

  @media (max-width: 992px){

    header {
        width: 100%;
        height: 70px;
        transition: all 0.3s ease;
    }

    header.open {
        height: 730px;
        transition: all 0.3s ease;
    }

    .main-nav {
        display: none;
    }

    header .logo img {
        position: absolute;
        top: 18px;
        width: 125px;
    }

    .mobile-nav-open-btn {
        display: block;
        position: absolute;
        right: 5%;
        top: 18px;
    }

    .mobile-nav-close-btn {
        display: none;
        position: absolute;
        right: 5%;
        top: 18px;
    }

    .mobile-nav {
        display: block;
        height: 0;
        width: 100%;
        text-align: center;
        margin: 60px auto 50px auto;
        opacity: 0;
        transition: all 0.2s ease;
    }

    header.open .mobile-nav {
        display: block;
        height: auto;
        width: 100%;
        text-align: center;
        margin: 60px auto 50px auto;
        opacity: 1;
        transition: all 0.3s ease;
    }


    .mobile-nav-list {
        list-style: none;
        opacity: 0;
    }

    header.open .mobile-nav-list {
        opacity: 1;
        transition: all 0.3s ease 0.1s;
    }

    .mobile-nav-list li {
        padding: 10px 0;
    }

    .mobile-nav-link {
        position: relative;
    }

    .mobile-nav-link::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--blue-lt);
    }

    .mobile-nav-list li a {
        font-family: 'Poppins', sans-serif;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
        position: relative;
        color: var(--white);
    }

    .mobile-nav-list ul li a {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
        position: relative;
        color: var(--white);
    }

    .mobile-nav-list ul li {
        padding: 5px 0;
    }

    .mobile-nav-list ul {
        margin-top: -10px;
        margin-bottom: 10px;
        list-style: none;
    }

    .mobile-nav-list li a.mobile-cta {
        display: inline-block;
        color: var(--blue-blk);
        background: var(--gradient-lt);
        padding: 10px 60px;
        margin-top: 15px;
    }

    

    header.open .mobile-nav-close-btn {
        display: block;
    }
    header.open .mobile-nav-open-btn {
        display: none;
    }
    header.open .mobile-nav {
        opacity: 1;
    }

    

  }











  /*================ WHO WE ARE ===================*/

/*Hero*/

.hero-about {
    width: 100%;
    height: 350px;
    background-image: url("../img/hero-about.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}





/*Our Story*/

.our-story {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.our-story-content {
    position: relative;
    grid-column: col-start / span 7;
    z-index: 2;
}

.our-story-img {
    width: 372px;
    height: 465px;
    grid-column: col-start 9 / span 4;
    background: url("../img/our-story.jpg");
    background-size: cover;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--shadow);
}

.our-story .blue-bg {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--gradient-md);
    z-index: -1;
}

.our-story h2 {
    margin-bottom: 15px;
}

.our-story p {
    margin-bottom: 50px;
}







/*Our Values*/

.our-values {
    width: 100%;
    padding: 100px;
    background: var(--gradient-drk);
}

.our-values .heading-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.our-values-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-values-body .row {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-values-body .row .value {
    width: 30%;
    padding: 5px;
    margin-bottom: 30px;
}

.our-values-body .row .value h3 {
    margin-bottom: 10px;
}






/*Our Leaders*/

.our-leaders {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: var(--gradient-md);
}

.our-leaders-content {
    grid-column: col-start 7 / span 6;
    position: relative;
    padding: 50px 0;
}

.our-leaders-content h2{
    margin-bottom: 15px;
}

.our-leaders-content p {
    margin-bottom: 25px;
}

.our-leaders .white-bg {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white);
    z-index: 1;
}
  
.our-leaders-img {
    width: 560px;
    height: 370px;
    grid-column: col-start / span 5;
    background: url("../img/our-leaders.jpg");
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--shadow);
    z-index: 3;
}







/*Media Queries*/


@media (max-width: 1100px){
    .our-leaders-img {
        width: 400px;
        height: 266px;
        grid-column: col-start / span 5;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .our-values-body .row .value {
        width: 50%;
        padding: 20px;
    }
  }




  @media (max-width: 992px){

    .hero-about {
        height: 200px;
        padding: 20px;
    }

    

    .our-story-img {
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 2;
        grid-column: col-start / span 12;
        background: url("../img/our-story.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 25%;
        position: relative;
        box-shadow: var(--shadow);
    }

    .our-story .blue-bg {
        display: none;
    }

    .our-story-content, .our-leaders-content {
        grid-column: col-start / span 12;
    }

    .our-values .heading-wrapper {
        margin-bottom: 50px;
    }

    .our-values .heading-wrapper h2 {
        text-align: center;
    }

    .our-values-body .row .value {
        width: 80%;
        padding: 20px;
    }

    .our-values-body .row {
        justify-content: center;
        text-align: center;
    }


    .our-leaders .white-bg {
        display: none;
    }

    .our-leaders-content {
        padding: 0;
    }

    .our-leaders-img {
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 2;
        grid-column: col-start / span 12;
        background: url("../img/our-leaders.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 25%;
        position: relative;
        box-shadow: var(--shadow);
        margin-top: -30px;
        margin-bottom: 70px;
    }
}







@media (max-width: 768px){
    .our-story{
        padding: 50px 10% 90px 10%;
    } 
    
    .our-values {
        padding: 50px 10%;
    }

    .our-values-body .row .value h3  {
        margin-bottom: 0;
    }

    .our-values-body .row .value {
        width: 100%;
        padding: 10px;
    }

    .our-values .heading-wrapper {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .our-leaders {
        padding: 80px 10%;
    }
}









/*================ FOOTER ===================*/

footer {
    height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: var(--gradient-drk);
    padding: 0 15%;
}

.footer-left {
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-right {
    width: 50%;
    height: 150px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-links {
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer-links a {
    color: var(--gray-md);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
}

.footer-links a:hover {
    color: var(--blue-lt);
}

.footer-links span {
    color: var(--gray-md);
    font-family: 'Lato', sans-serif;
    margin: 5px;
}



.footer-text p {
    color: var(--gray-md);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
}




@media (max-width: 992px){
    .footer-left, .footer-right {
        width: 100%;
    }

    .footer-right {
        margin-top: -60px;
    }

    footer {
        height: 300px;
        padding: 20px 0;
    }

    footer .logo img {
        width: 170px;
    }

    .footer-links a, .footer-text p {
        font-size: .8em;
    }

    .footer-left .footer-links a {
        font-size: .9em;
    }
  }














/*================ LANDING ===================*/

/*Video*/

.video video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}



/*Who We Are*/

section.who-we-are {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    margin-top: -3px;
}

.who-we-are-content {
    grid-column: col-start / span 5;
    padding: 60px 0;
}

.who-we-are-content p {
    margin: 20px 0 30px 0;
}

.who-we-are-img {
    grid-column: col-start 7 / span 6;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    background-image: url('../img/who-we-are.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--shadow);
    z-index: 3;
}

.who-we-are .drk-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 33%;
    background: var(--gradient-drk);
    z-index: 1;
}






/*Where We Are*/

section.where-we-are {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: var(--gradient-md);
}

.where-we-are .light-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 33%;
    background: var(--gray-lt);
    z-index: 1;
}

.where-we-are-img {
    grid-column: col-start / span 6;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    background-image: url('../img/where-we-are.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--shadow);
    z-index: 3;
}

.where-we-are-content {
    grid-column: col-start 8 / span 5;
    padding: 60px 0;
}

.where-we-are-content p {
    margin: 20px 0 30px 0;
}










/*What We Do*/

.what-we-do {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: var(--gradient-drk);
}

.what-we-do .heading-wrapper {
    grid-column: col-start / span 6;
}

.what-we-do-content {
    grid-column: col-start / span 7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.what-we-do-content .thing {
    width: 40%;
    margin-right: 10%;
    margin-top: 25px;
}

.what-we-do-content .thing h3 {
    margin-bottom: 5px;
}

.what-we-do .white-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;
    background: var(--white);
    z-index: 1;
}

.what-we-do-img {
    grid-column: col-start 9 / span 4;
    grid-row: 1 / 3;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
    background-image: url('../img/what-we-do.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--shadow);
    z-index: 3;
}







/*Join Us*/

.join-us {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: var(--gray-lt);
}

.join-us .grid-wrapper {
    width: 100%;
    row-gap: 100px;
}

.join-our-team-img {
    grid-column: col-start / span 8;
    grid-row: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    background-image: url('../img/join-our-team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: var(--shadow);
}

.join-our-team-content {
    grid-column: col-start 6 / span 7;
    grid-row: 1;
    height: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: var(--white);
    padding: 40px 70px;
    box-shadow: var(--shadow);
}

.join-our-team-content p {
    margin: 20px 0 30px 0;
}

.use-our-services-img {
    grid-column: col-start 5 / span 8;
    grid-row: 2;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    background-image: url('../img/use-our-services.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: var(--shadow);
}

.use-our-services-content {
    grid-column: col-start / span 7;
    grid-row: 2;
    height: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: var(--white);
    padding: 40px 70px;
    box-shadow: var(--shadow);
}

.use-our-services-content p {
    margin: 20px 0 30px 0;
}






/*Media Queries*/

@media (max-width: 1100px) {

    .join-us .grid-wrapper {
        row-gap: 0;
    }

    .join-our-team-img {
        grid-column: col-start / span 12;
        grid-row: 1;
    }
    
    .join-our-team-content {
        grid-column: col-start / span 12;
        grid-row: 2;
        width: 90%;
        height: auto;
        margin: 0 auto;
        position: relative;
        top: -5px;
        margin-bottom: -50px;
    }
    
    .use-our-services-img {
        grid-column: col-start / span 12;
        grid-row: 3;
    }
    
    .use-our-services-content {
        grid-column: col-start / span 12;
        grid-row: 4;
        width: 90%;
        height: auto;
        margin: 0 auto;
        position: relative;
        top: -5px;
        margin-bottom: -150px;
    }
    
}

@media (max-width: 992px) {

    .who-we-are-content {
        grid-column: col-start / span 6;
        padding: 20px 0;
    }

    .who-we-are-img {
        grid-column: col-start 8 / span 5;
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 5;
    }

    .where-we-are-content {
        grid-column: col-start 7 / span 6;
        padding: 20px 0;
    }

    .where-we-are-img {
        grid-column: col-start / span 5;
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 5;
    }

    .what-we-do .heading-wrapper {
        grid-column: col-start / span 12;
        display: flex;
        justify-content: center;
    }

    .what-we-do-img {
        display: none;
    }

    .what-we-do .white-bg {
        display: none;
    }

    .what-we-do-content {
        grid-column: col-start / 13;
    }

    .what-we-do-content .thing {
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
        width: 50%;
        padding: 20px;
    }
}



@media (max-width: 768px) {

    .who-we-are-content {
        grid-column: col-start / span 12;
        padding: 0;
    }

    .who-we-are-img {
        display: none;
    }

    .who-we-are .drk-bg {
        display: none;
    }

    .where-we-are .light-bg {
        display: none;
    }

    .where-we-are-img {
        grid-column: col-start / span 12;
        width: 100%;
        aspect-ratio: 3 / 2;
    }

    .where-we-are-content {
        grid-column: col-start / span 12;
        margin-top: 50px;
        padding: 0;
    }

    section.who-we-are, section.where-we-are, section.what-we-do, section.join-us {
        padding: 50px 10%;
    }

    .what-we-do-content .thing {
        width: 80%;
        padding: 0;
    }

    .join-our-team-content {
        grid-column: col-start / span 12;
        grid-row: 2;
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        top: 50%;
    }
    
    .use-our-services-img {
        margin-top: 50px;
    }

    .use-our-services-content {
        grid-column: col-start / span 12;
        grid-row: 4;
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        top: 50%;
        margin-bottom: 0;
    }
}

@media (max-width: 450px) {
    .join-our-team-content, .use-our-services-content {
        background: none;
        box-shadow: none;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 50px;
    }
}




